.contact-list{
    width: 100%;
    .list-item{
        cursor: pointer;
    }

    .list-item:hover{
        background-color: rgba(224, 224, 224, 0.322);
    }
}
.action-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}