.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    button{
        margin-top: 50px;
    }
}